# Set a custom registry
registry=https://registry.npmjs.org/

# Set a project-specific package save prefix
#save-prefix=~

# Set a project-specific cache directory
#cache=./.npm-cache

# Set a project-specific log level
loglevel=warn

https-proxy=
proxy=
strict-ssl=
