<mat-toolbar class="menu">
  <!-- Left-aligned menu items -->
  <div class="left-menu">
    <a class="option" href="#">in28minutes</a>
    @if(hardcodedAuthenticationService.isUserLoggedIn()) {
      <a class="option" routerLink="/welcome/in28minutes">Home</a>
      <a class="option" routerLink="/todos">Todos</a>
    }
  </div>

  <!-- Push right-aligned items to the end -->
  <span class="spacer"></span>

  <div class="right-menu">
    @if(!hardcodedAuthenticationService.isUserLoggedIn()) {
    <a class="option" routerLink="/login">Login</a>
    } @else {
    <a class="option" routerLink="/logout">Logout</a>
    }
  </div>
</mat-toolbar>
