<h1>Todo</h1>

<div [formGroup]="todoForm" class="container">
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Target Date</mat-label>
        <input matInput formControlName="targetDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-flat-button type="submit" [disabled]="!todoForm.valid" (click)="saveTodo()">Save</button>

</div>