<h1>Todo</h1>

<form [formGroup]="todoForm" class="container" (ngSubmit)="saveTodo()">
  <div>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description">
      </mat-form-field>
  </div>
  <div>
      <mat-form-field>
        <mat-label>Target Date</mat-label>
        <input matInput formControlName="targetDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
      <button mat-flat-button [disabled]="!todoForm.valid" type="submit">Save</button>

  </form>